[Desktop Entry]
Version = 1.0
Name=Lite
GenericName = Little Text Editer
Exec = /app/lite
Icon = /usr/local/lite/lite.png
Terminal = false
Type = Application